/* Shared Styles  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", serif;
}


.navbar {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    /* justify-content: center; */
}

.contact {
    color: white;
    background: orange;
    padding: 15px 30px 15px 30px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: 120px;
}

.options {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
}

.school-name {
    margin-right: 170px;
    color: rgb(17, 17, 17);
}

.option-list {
    margin-left: 40px;
}

.options button {
    margin-left: 170px;
}

.home {
    color: rgb(254, 163, 1);
    cursor: pointer;
}

.about {
    color: rgb(1, 172, 253);
    cursor: pointer;
}

.faci {
    color: rgb(93, 88, 239);
    cursor: pointer;
}

.admit {
    color: rgb(5, 212, 223);
    cursor: pointer;
}


.btn-c {
    position: relative;
    top: 15px;
    left: 30px;
}

.contact:hover {
    color: black;
    transition: 1.5s;
    background-color: rgba(255, 166, 0, 0.529);
}

.logo-container {
    display: flex;
    margin: none;
}

.menu {
    width: 15px;
    justify-content: center;
    display: none;
}

.hr-1 {
    color: orange;
    display: none;
}

.banner-1 h1 {
    width: 640px;
    font-size: 45px;
    font-weight: 650;
    line-height: 55px;

}

.banner-1 p {
    width: 640px;
    color: rgb(17, 17, 17);
    font-size: 16px;
    font-weight: 400;
}

.banner-1 {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    top: 70px;

}

.section-1 {
    display: flex;
}

.img-hero {
    width: 380px;
}

.Empowering {
    color: rgb(254, 163, 1);
}

.agtv {
    color: rgb(1, 172, 253);
}

.sfm {
    color: rgb(17, 17, 17);
}

.en-btn {
    color: white;
    font-weight: bold;
    background: black;
    border-radius: 12px;
    padding: 15px 22px 15px 22px;
    border: none;
}

.en-btn:hover {
    color: antiquewhite;
    background: rgb(77, 77, 77);
    transition: 1.5s;
}

.SC {
    font-size: 40px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}

.card {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 100px;
    margin-bottom: 80px;
}

.card-container {
    width: 300px;
    margin-left: 20px;
    text-align: center;
    height: 400px;
    padding-bottom: 50px;
}

.card-1 {
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-2 {
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-3 {
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-disc {
    text-align: center;
    color: rgb(128, 128, 128);
    line-height: 20px;
    padding: 30px;
    font-size: 15px;
}

.card-name {
    font-weight: 550;
    color: rgb(32, 32, 32);
}

.RM {}

.rm-3 {
    position: relative;
    bottom: 24px;
    color: rgb(135, 0, 255);
    cursor: pointer;
}

.rm-2 {
    color: rgb(240, 170, 0);
    cursor: pointer;
}

.rm-1 {
    color:
        rgb(100, 200, 255);
    cursor: pointer;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows p {}

.right {
    margin-left: 20px;
}

.right,
.left {
    font-weight: bolder;
    background-color: orange;
    padding: 20px;
    border-radius: 90px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.section-2 {
    background-size: cover;
    background-image: url(assets/bg.png);
    margin-top: 100px;
}

.os {
    text-align: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700px;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.story-1-h2 {
    width: 400px;
    font-weight: 600;
    font-size: 21px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.story-1-p {
    width: 440px;
}
.story-card-1{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd;
    border-radius: 12px;
    padding-bottom: 30px;
    width: 475px;
    padding-bottom: 70px;
    
}
.story-card-1 img {
    width: 420px;
    padding-left: 20px;
    padding-top: 40px;
}
.story-1-h2, .story-1-p{
    position: relative;
    left: 30px;
}
.date-story-1 {
    color: white;
    background-color: rgb(67, 245, 245);
    border-radius: 38px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    left: 40px;
    right: 110px;
    bottom: 255px;
}
.section-3 {
    background-image: url(assets/bg.png);
    background-size: cover;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 100px;
}
.story-1-2 {
    display: inline;
}
.small-story-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    width: 280px;
    gap: 20px;
}
.small-story-container h3 {
    font-weight: 550;
}
.story-card-container {
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #ddd;
}
.story-card-container img {
    width: 250px;
}
.btnss {
    background-color: crimson;
    color: white;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 38px;
    position: relative;
    right: 60px;
    bottom: 100px;
}

.viewa-container {
    justify-content: center;
    align-items: center;
    margin: 0, auto;
    text-align: center;
    margin-top: 50px;
}

.viewa {
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.viewa:hover {
    color: black;
    background-color: bisque;
    transition: 1.5s;
}

.section-3 {
    
}
.toflex {
    display: flex;
    gap: 30px;
}
.ending-1 {
    display: flex;

}
.ending-1 h1 {
    font-weight: 585;
}
.ending-1 img {
    width: 60px;
    height: 100px;
    padding-left: 70px;
}
.ending-1-p {
    width: 350px;
    position: relative;
    top:  120px;
    right: 150px;
}
.about-school-li  {
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    color: white;
}
.about-school {
    position: relative;
    right: 180px;
    
}
.img-t {
    width: 30px;
}
.keep-in-t {
    position: relative;
    right: 90px;
    margin-right: 70px;
}
.list-op {
    list-style-type: none;
}
.finale-ending {
    justify-content: space-between;
    display: flex;
    align-items: space-between;
    background: rgba(237, 164, 29, 0.764);
    padding-bottom: 150px;
    padding-top: 70px;
    color: white;
}




@media screen and (max-width:576px) {
    .navbar {
        flex-direction: column;
    }

    .options {
        display: none;
    }

    .logo,
    .menu {
        display: flex;
        justify-content: space-between;
        width: 45px;
    }

    .logo {
        position: relative;
        right: 90px;
        top: 23px;
    }

    .btn-c {
        display: none;
    }

    .menu-m {
        width: 10px;
        position: relative;
        left: 400px;
        bottom: 20px;
    }

    .hr-1 {
        display: block;
        border: 1px solid orange;
        width: 152%;
        position: relative;
        right: 35px;
        transform: translateX(-10%);
    }

    .section-1 {
        flex-direction: column-reverse;
    }

    .banner-1 {
        flex-direction: column;
        margin: 0;
        text-align: center;
        position: relative;
        bottom: 70px;
    }

    .banner-1 h1 {
        position: relative;
        right: 50px;
        width: 100%;
        bottom: 80px;
        right: 30px;
        /* margin-left: 70px; */
    }

    .banner-1 p {
        width: 500px;
        position: relative;
        bottom: 80px;
        margin-left: 50px;
    }

    .img-hero-container {
        margin-left: 70px;

    }

    .en-btn {
        bottom: 80px;
        position: relative;
        margin-left: 70px;
    }

    .section-2 {
        flex-direction: column;
        /* left: 20px; */
    }

    .card {
        flex-direction: column;
        position: relative;
        right: 70px;
    }

    .card-container {
        margin-bottom: 30px;
        width: 500px;
    }

    .arrows {
        display: none;
    }
    .story-card-1 {
        display: none;
    }
    .section-3 {
        margin: 0;
        position: relative;
        right: 18px;
    }
    .story-card-container img {
        width: 100%;
    }
    .story-card-container {
        padding: 0;
    }
    .finale-ending {
        flex-direction: column;
        position: relative;
        margin-top: 50px;
    }
    .about-school {
        left: 10px;
        top: 110px;       
    }
    .ending-1 {
        position: relative;
        right: 30px;
    }
    .keep-in-t {
        position: relative;
        left: 40px;
        top: 100px;
    }
}