@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Work Sans', serif;
}


/* team releated  */
.team {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.oo {
    font-weight: bolder;
}

.ql {
    font-weight: 500;
}

.f {
    color: rgb(255, 144, 14);
    font-size: 2.8rem;
    font-weight: 700;
}

/* shared styles */
.display-flex {
    display: flex;
}

.main>section {
    margin-top: 130px;
}

.our-features {
    margin-left: 75px;
    max-width: 530px;
}


.text-gray {
    color: rgb(66, 66, 66);
}

.main {
    max-width: 1100px;
    margin: 0 auto;
}

.text-light-gray {
    color: rgb(114, 114, 114);
}

.bg-light {
    background: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    color: white;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border: none;
    padding: 15px 20px 15px 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover {
    background: rgb(239, 239, 128);
    transition: 1s;
    color: black;
}

/* header styles */
.brand-name {
    font-weight: 700;
    font-size: 2.8rem;
}

/* navbar releated styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.navbar,
.banner {
    width: 1100px;
    margin: 0 auto;
}

/* banner styles */
.banner-content {
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.banner-title {
    font-weight: 700;
    font-size: 3.7rem;
}

.img-container {
    width: 800px;
    margin: 0 auto;
}

.img-container img {
    width: 100%;
}

.fact-description {
    max-width: 520px;
}


.fact {
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 240px;
    height: 180px;
    text-align: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

/* responsive media query */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-link,
    .team {
        flex-direction: column;
    }

    .navbar,
    .banner {
        width: 420px;
    }

    .img-container {
        width: 400px;
    }

    .team-img-container, .fact-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-container {
        justify-content: center;
        gap: 24px;
    }
    .our-features {
        margin-left: 20px;
    }
}



/* for Medium Device Responsive */
@media screen and (max-width: 576px) and (max-width:992) {
    .team {
        flex-direction: column;

    }
}